<form id="settings-form" action="/restricted_employer/employer_settings" method="post">
    <input type="hidden" name="organizationId" id="input-organization-id" value="{{ employer.id }}">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>Профиль</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="logo-div" class="center-div" style="margin-left: 20px; margin-top: 20px">
                    <canvas id='logo'>Логотип компании</canvas>
                    <script>
                        function show_logo() {
                            var logo = document.getElementById('logo'),
                                    ctx = logo.getContext('2d'),
                                    pic = new Image();
                            logo.width = 300;
                            logo.height = 300;
                            pic.src = "{{ MEDIA_URL }}{{ employer.logo.url }}";
                            pic.onload = function () {
                                ctx.drawImage(pic, {{ employer.x1}}, {{ employer.y1}}, {{ employer.x2}} - {{ employer.x1}}, {{ employer.y2}} - {{ employer.y1}}, 0, 0, 300, 300);
                            }
                        }
                        show_logo();
                    </script>
                </div>
                <div class="center-div">
                    <button id="logo-button" style="width: 300px" type="button" class="btn btn-success"
                            data-toggle="modal"
                            data-target="#LogoModal"> Изменить логотип компании
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="input-organization-name">Название организации</label>
                <div class="input-group">
                    <input type="text" name="organizationName" class="form-control" id="input-organization-name"
                           placeholder="Название организации"
                           value="{{ employer.org_name }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover"
                                data-content="От 2-х до 200 символов.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>

                <label for="input-organization-site">Сайт</label>
                <div class="input-group">
                    <input type="text" name="organizationSite" class="form-control" id="input-organization-site"
                           placeholder="Адрес сайта"
                           value="{{ employer.site_address }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover"
                                data-content="От 2-х до 100 символов.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                </span>
                </div>

                <label for="select-employees-count">Количество сотрудников</label>


                <select class="form-control" name="employeesCount" id="select-employees-count">
                    <option {% if employer.employees_number == 0 %} selected {% endif %} value="0">До 5</option>
                    <option {% if employer.employees_number == 1 %} selected {% endif %} value="1">От 5 до 10</option>
                    <option {% if employer.employees_number == 2 %} selected {% endif %} value="2">От 10 до 20</option>
                    <option {% if employer.employees_number == 3 %} selected {% endif %} value="3">От 20 до 50</option>
                    <option {% if employer.employees_number == 4 %} selected {% endif %} value="4">От 50 до 100</option>
                    <option {% if employer.employees_number == 5 %} selected {% endif %} value="5">Больше 100</option>
                </select>

                <label for="input-organization-address">Адрес</label>
                <div class="input-group">
                    <input type="text" name="organizationAddress" class="form-control" id="input-organization-address"
                           placeholder="Адрес организации"
                           value="{{ employer.address }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover"
                                data-content="Длина не более 200 символов.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                </span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <label for="select-city">Город</label>
                <select class="form-control" name="city" id="select-city">
                    <option disabled="true">-- Выберите город --</option>

                        {% for city in cities %}
                            <option {% if employer.city.id == city.id %} selected {% endif %} value="{{ city.id }}">
                                {{ city.name }}
                            </option>
                        {% endfor %}

                </select>
            </div>
            <div class="col-sm-6">
                <label for="input-subway">Метро</label>
                <select class="form-control" name="subway" id="select-subway"
                        {% if not metro_stations %}disabled="true"{% endif %}>
                    <option disabled selected value>-- Выберите станцию метро --</option>
                    {% if metro_stations %}
                        {% for station in metro_stations %}
                            <option {% if employer.subway.id == station.id %} selected {% endif %}
                                                                              value="{{ station.id }}"
                                                                              class="{{ station.line.color }}"
                                                                              title="{{ station.line.name }}">
                                {{ station.name }}
                            </option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="col-sm-12"></br>
                <label for="textarea-about">Описание организации:</label>
                <div id="textEditor"></div>
                <textarea id="input-organization-about" name="organizationAbout"
                          style="display: none;">{{ employer.about }}</textarea>
            </div>
            <div class="col-sm-12">
                <br>
                <button type="submit" id="submit-save" class="btn btn-primary btn-lg">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</form>