<div>
    <h3>Контактная информация</h3>
</div>
<div id="phones-body" class="c1">
    <div>
        <h4>Телефоны</h4>

        {% if employer.phones %}
            {% for record in employer.phones %}
                <div style="border-radius: 25px; border: 2px solid #337ab7; padding:10px; margin-bottom: 15px;">
                    <label>Номер: {{ record.phone }}</label>
                    {% if record.use_for_notification %}
                        <div><label><i class="fa fa-check-circle-o" aria-hidden="true"></i> Используется для уведомлений</label>
                        </div>
                    {% endif %}
                    {% if record.show_to_applicant %}
                        <div><label><i class="fa fa-check-circle-o" aria-hidden="true"></i> Виден соискателям</label>
                        </div>
                    {% endif %}
                    <div>
                        <button type="button" class="btn btn-primary" onclick="load_phone({{ record.id }})">
                            Редактировать
                        </button>
                        <button type="button" class="btn btn-danger"
                                onclick="remove_phone({{ record.id }})">Удалить
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            Номера телефонов не указаны
        {% endif %}
    </div>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddPhoneModal">
        Добавить
    </button>
</div>
<div id="emails-body" class="c1">
    <div>
        <h4>Email</h4>
        {% if employer.emails %}
            {% for record in employer.emails %}
                <div style="border-radius: 25px; border: 2px solid #337ab7; padding:10px; margin-bottom: 15px;">
                    <label>Email: {{ record.email }}</label>
                    {% if record.use_for_notification %}
                        <div><label><i class="fa fa-check-circle-o" aria-hidden="true"></i> Используется для
                            уведомлений</label></div>
                    {% endif %}
                    {% if record.show_to_applicant %}
                        <div><label><i class="fa fa-check-circle-o" aria-hidden="true"></i> Виден
                            соискателям</label></div>
                    {% endif %}
                    {% if not record.confirmed %}
                        <div>
                            <label><i class="fa fa-check-circle-o" aria-hidden="true"></i> Не подтвержден</label><br>
                        </div>
                    {% endif %}
                    <div>
                        <button type="button" class="btn btn-primary" onclick="load_email({{ record.id }})">
                            Редактировать
                        </button>
                        <button type="button" class="btn btn-danger"
                                onclick="remove_email({{ record.id }})">Удалить
                        </button>
                        {% if not record.confirmed %}
                            <button type="button" class="btn btn-default" onclick="reactivate_email({{ record.id }})">
                                Отправить заново
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            Адреса электронной почты не указаны
        {% endif %}
    </div>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddEmailModal">
        Добавить
    </button>
</div>