<div>
    <h3>Сотрудники</h3>
</div>
<div id="staff" class="c1">
    {% for record in employer.users %}
        <div style="border-radius: 25px; border: 2px solid #337ab7; padding:10px; margin-bottom: 15px;">
            <b>{{ record.user.last_name }} {{ record.user.first_name }} {{ record.user.patronymic }}</b>
            <br>
            <b style="color: #777">{{ record.user.username }}</b>
            <div>
                <button type="button" class="btn btn-danger" onclick="remove({{ record.id }})">
                    Удалить
                </button>
            </div>
        </div>
    {% endfor %}
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#InviteModal">
        Пригласить
    </button>
</div>
