{% extends "restricted_employer/base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
{% endblock %}

{% block content %}




        <div class="container" style="width: auto !important;">
            <h3>Список кандидатов для вакансии: {{ post.post.name }}</h3>

            <div class="filter" style="border-bottom: 1px #c0c0c0 solid; padding-bottom: 20px;">
                <h4>Фильтр</h4>
                <div class="except">
                    Учитывать при поиске:<br>
                    <input type="checkbox" value="0" checked> Функциональные навыки<br>
                    <input type="checkbox" value="1" checked> Профессиональные навыки<br>
                    <input type="checkbox" value="2" checked> Деловые качества<br>
                    <input type="checkbox" value="3" checked> Личные качества<br>
                    <input type="checkbox" value="4" checked> Внешние данные<br>
                </div>
            </div>
            {{ cvs }}<br>

            {% if cvs %}
                {% for cv in cvs %}
                    {{ cv }}<br>


                {% endfor %}
            {% else %}
                Кандидатов не найденно
            {% endif %}


        </div>

<div class="grid-item" style="border-radius: 10px; border: 2px solid #337ab7; padding:10px; margin-bottom: 15px; margin-right: 5px; margin-top: 25px; width: 100%;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 about">
                            <b>О кандидате:</b>
                            <div class="candidate-about" id="candidate-about">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Praesent mattis ornare imperdiet. Aliquam sed tincidunt sem,
                                rhoncus gravida velit. Aenean varius ac velit nec sagittis.
                                Vestibulum malesuada sit amet sem sed pretium. Quisque quam felis,
                                facilisis eu nisl nec, dictum eleifend ligula. Ut ultrices mattis dignissim.
                                In feugiat urna eu suscipit mollis. Sed lacinia cursus eros vel congue. Phasellus
                                dapibus ullamcorper mi, at feugiat lorem maximus vitae. Maecenas nec dignissim lorem,
                                vitae suscipit justo. Quisque sed leo in neque volutpat mattis vitae vel ligula.
                                Suspendisse et elit faucibus, rhoncus augue in, lacinia urna. Suspendisse quis lorem ac
                                tellus cursus dictum. Quisque porta, nulla sit amet pharetra feugiat, purus mi semper urna,
                                nec dictum justo libero id purus.

                                Nullam rhoncus ex dolor, vitae sodales est pharetra dignissim.
                                Quisque et tortor at eros semper aliquam. Maecenas tincidunt, eros ut
                                convallis maximus, enim nibh commodo eros, in pharetra turpis ligula ut felis.
                                Sed sodales orci id mattis finibus. Donec felis ex, cursus interdum arcu ac, tincidunt
                                viverra felis. Donec dictum pellentesque eros sit amet sagittis. Nullam vitae ante eget
                                ipsum luctus consequat sit amet sit amet diam. Vestibulum elementum, tellus quis varius
                                condimentum, mi ligula mollis erat, eget convallis neque ex ac arcu. Pellentesque ac congue odio.
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="photo" style="width: 150px; height: 150px;"><img src="/media/no_logo.png" style="width: 150px; height: 150px;"></div>
                            <div class="candidate-name" id="candidate-name"><b>ФИО:</b> Иванов Иван Иванович</div>
                            <div class="candidate-city" id="candidate-city"><b>Город:</b> Санкт-Петербург</div>
                            <div class="candidate-subway" id="candidate-subway"><b>Метро:</b> Адмиралтейская</div>
                        </div>
                        <div class="col-lg-3 col-md-3" >
                            <b>Релевантность:</b>
                            <div class="relevance" style="margin-top: 10px;">
                                <div id="functional-skills">
                                    Функциональные навыки:
                                    <div class="relevance-bar">
                                        <div class="functional-skill-bar">
                                            <div class="label">10%</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="professional-skills">
                                    Профессиональные навыки:
                                    <div class="relevance-bar">
                                        <div class="professional-skill-bar">
                                            <div class="label">30%</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="business-qualities">
                                    Деловые качества:
                                     <div class="relevance-bar">
                                        <div class="business-skill-bar">
                                            <div class="label">70%</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="personal-skills">
                                    Личные качества:
                                     <div class="relevance-bar">
                                        <div class="personal-skill-bar">
                                            <div class="label">21%</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="appearance">
                                    Внешние данные:
                                     <div class="relevance-bar">
                                        <div class="appearance-skill-bar">
                                            <div class="label">45%</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="relevance-result" style="margin-top: 20px;">
                                    <b>Итог:</b>
                                     <div class="relevance-bar">
                                        <div class="relevance-result-bar">
                                            <div class="label">65%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



{% endblock %}