{% extends "restricted_employer/base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <link href="{% static "css/add-cv.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "/js_custom/saveVacancyEditedResult.js" %}"></script>
    <script type="text/javascript" src="{% static "/js_custom/changeColor.js" %}"></script>
    <script type="text/javascript" src="{% static "js_custom/employer/edit_vacancy.js" %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/css/bootstrap-slider.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/css/bootstrap-slider.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.min.js"></script>

{% endblock %}

{% block content %}
    <ul id="progressbar">
        <li id="progressbar-second" class="active">Функциональные навыки</li>
        <li id="progressbar-third">Профессиональные навыки</li>
        <li id="progressbar-fourth">Деловые качества</li>
        <li id="progressbar-fifth">Личные качества</li>
        <li id="progressbar-sixth">Дополнительная информация</li>
    </ul>
    <div class="column-holder">
        <div class="col column-1" >
            Вы редактируете резюме для вакансии: <span id="user_post" record-id="{{ record_id }}" post-id="{{ post.id }}">{{ post.name }}</span><br><br>
            <div id="first-step-content">
                 <div class="level-slider-group" high-rating-count="10" medium-rating-count="10"
                     style="max-width: 600px;" >
                </div>
            </div>

            <div id="second-step-content">
                <div class="level-slider-group-3" high-rating-count="10" medium-rating-count="10"
                     style="max-width: 600px;" hidden>
                </div>
            </div>

            <div id="third-step-content" hidden>
                <div class="level-slider-group-4" high-rating-count="10" medium-rating-count="10"
                     style="max-width: 600px;" hidden>
                </div>

            </div>

            <div id="fourth-step-content" hidden>
                <div class="level-slider-group-5" high-rating-count="10" medium-rating-count="10"
                     style="max-width: 600px;" hidden>
                </div>

            </div>

            <div id="fifth-step-content" hidden>
                <!--<div>
                    <label for="select-salary">Выберите желаемую зарплату</label>
                    <p>
                        <label for="amount">Зарплата(руб.):</label>
                        <input type="text" id="amount">

                    </p>
                </div>
                <div>
                    <input id="salary-slider" />
                 </div>
                <div id="slider-range" ></div>-->
                <div>
                    <label for="min_salary">Минимальная зарплата:</label>
                    <input name="min_salary" id="min_salary">
                </div>
                <div>
                    <label for="max_salary">Максимальная зарплата:</label>
                    <input name="max_salary" id="max_salary">
                </div>
                <div>
                    <label for="by_agreement">Зарплата договорная</label>
                    <input type="checkbox" name="by_agreement" id="by_agreement">
                </div>

                <div>
                    <label for="select-city">Город</label><span id="city-error" style="display: none; color: #a94442;">Выберите город</span>
                <select class="form-control" name="city" id="select-city">
                    <option disabled selected val>-- Выберите город --</option>
                                {% for city in cities %}

                        <option {% if vacancy.city.id == city.id %} selected {% endif %} value="{{ city.id }}">
                            {{ city.name }}
                        </option>
                    {% endfor %}
                </select>
                </div>
                <div>
                <label for="input-subway">Метро</label>
                <select class="form-control" name="subway" id="select-subway"
                        {% if not metro_stations %}disabled="true"{% endif %}>
                    <option disabled selected value>-- Выберите станцию метро --</option>
                    {% if metro_stations %}
                        {% for station in metro_stations %}
                            <option {% if vacancy.subway.id == station.id %} selected {% endif %}
                                                                               value="{{ station.id }}"
                                                                               class="{{ station.line.color }}"
                                                                               title="{{ station.line.name }}">
                                {{ station.name }}
                            </option>
                        {% endfor %}
                    {% endif %}
                </select>
                </div>
                <div>
                   <label for="select-org">От имени какой организации опубликовать вакансию:</label> <span id="org-error" style="display: none; color: #a94442;">Выберите компанию</span>

                    <select required class="form-control" id="select-org" >
                        <option disabled selected value=''>-- Выберите организацию --</option>
                        {% for employerUser in employerUsers %}
                            <option {% if employerUsers.count == 1 or vacancy.employer.id == employerUser.employer.id %} selected {% endif %} value="{{ employerUser.employer.id }}">
                                {{ employerUser.employer.org_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="schedule">График работы</label> <span id="schedule-error" style="display: none; color: #a94442;">Выберите график работы</span>

                    <select required="required" class="form-control" name="schedule" id="select-schedule" >
                        <option selected value="">-- Выберите график работы --</option>

                        <option {% if vacancy.schedule == 0 %} selected {% endif %} value="0">Полная занятость</option>
                        <option {% if vacancy.schedule == 1 %} selected {% endif %} value="1">Свободный график</option>
                        <option {% if vacancy.schedule == 2 %} selected {% endif %} value="2">Удаленная работа</option>
                        <option {% if vacancy.schedule == 3 %} selected {% endif %} value="3">Частичная занятость</option>
                        <option {% if vacancy.schedule == 4 %} selected {% endif %} value="4">Сменный график</option>
                    </select>
                </div>
                 <div id="appearances" style="display: none;">
                    <br>
                    <label for="select-post">Выберите цвет глаз:</label>
                    <select class="form-control " name="post" id="select-eyes-color">
                        <option disabled selected value>-- Выберите цвет глаз --</option>

                        <option value="0">Синие</option>
                        <option value="1">Голубые</option>
                        <option value="2">Серые</option>
                        <option value="3">Сероголубые</option>
                        <option value="4">Серозеленые</option>
                        <option value="5">Карие</option>
                        <option value="6">Зеленые</option>
                    </select>

                     <br>
                    <label for="select-post">Выберите цвет волос:</label>
                    <select class="form-control " name="post" id="select-hairs">
                        <option disabled selected value>-- Выберите цвет волос --</option>

                        <option value="0">Темные</option>
                        <option value="1">Русые</option>
                        <option value="2">Светлые</option>
                        <option value="3">Рыжие</option>
                        <option value="4">Седые</option>
                        <option value="5">Без волос</option>
                    </select>

                    <br>
                    <label for="select-post">Укажите телосложение:</label>
                    <select class="form-control " name="post" id="select-body-type">
                        <option disabled selected value>-- Укажите телосложение --</option>

                        <option value="0">Худощавое</option>
                        <option value="1">Обычное</option>
                        <option value="2">Спортивное</option>
                        <option value="3">Плотное</option>
                        <option value="4">Полное</option>
                    </select>

                    <br>
                    <label for="select-post">Укажите вес:</label>
                    <select class="form-control " name="post" id="select-weight">
                        <option disabled selected value>-- Укажите вес --</option>

                        <option value="0">менее 50</option>
                        <option value="1">от 50 до 55</option>
                        <option value="2">от 55 до 60</option>
                        <option value="3">от 60 до 65</option>
                        <option value="4">более 65</option>
                    </select>

                    <br>
                    <label for="select-post">Укажите рост:</label>
                    <select class="form-control " name="post" id="select-height">
                        <option disabled selected value>-- Укажите рост --</option>

                        <option value="0">менее 150</option>
                        <option value="1">от 150 до 160</option>
                        <option value="2">от 160 до 170</option>
                        <option value="3">от 170 до 180</option>
                        <option value="4">более 180</option>
                    </select>

                    <br>
                    <label for="select-post">Выберите знак зодиака:</label>
                    <select class="form-control " name="post" id="select-zodiac">
                        <option disabled selected value>-- Выберите знак зодиака --</option>

                        <option value="0">Овен</option>
                        <option value="1">Телец</option>
                        <option value="2">Близнецы</option>
                        <option value="3">Рак</option>
                        <option value="4">Лев</option>
                        <option value="5">Дева</option>
                        <option value="6">Весы</option>
                        <option value="7">Скорпион</option>
                        <option value="8">Стрелец</option>
                        <option value="9">Козерог</option>
                        <option value="10">Водолей</option>
                        <option value="11">Рыбы</option>
                    </select>


                </div>
                 <label for="textarea-vacancy-description">Описание вакансии</label> <span id="textarea-error" style="display: none; color: #a94442;">Заполните описание вакансии</span>

                    <div id="textEditorApp">
                        <textarea id="textarea-vacancy-description" name="vacancy-description" rows = "10"></textarea>
                    </div>

            </div>


        </div>
        <div class="col column-2 slider-helper">
            <h3 style="margin: 0px !important; margin-bottom: 10px !important;">Как заполнять резюме?</h3>

            <div id="first-step" style="display: none;">
                Оцените ваши Функциональные навыки. На данном этапе требуется для каждой
                характеристики выбрать один из трех приоритетов, с учетом ограничений на количество каждого из них:
                <table id="first-step-table">
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-third slider-tooltip"></div>
                        </td>
                        <td>Высокий. Выбрано <b><span id="high-selected">0</span></b>/<span
                                id="high-selected-max">10</span> характеристик.
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-second slider-tooltip"></div>
                        </td>
                        <td>Средний. Выбрано <b><span id="medium-selected">0</span></b>/<span id="medium-selected-max">10</span>
                            характеристик.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="helper helper-first slider-tooltip"></div>
                        </td>
                        <td>Низкий.</td>
                    </tr>
                </table>
            </div>
            <div id="second-step" style="display: none;">
                <table id="second-step-table">
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-third slider-tooltip"></div>
                        </td>
                        <td>Высокий. Выбрано <b><span id="high-selected">0</span></b>/<span
                                id="high-selected-max">10</span> характеристик.
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-second slider-tooltip"></div>
                        </td>
                        <td>Средний. Выбрано <b><span id="medium-selected">0</span></b>/<span id="medium-selected-max">10</span>
                            характеристик.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="helper helper-first slider-tooltip"></div>
                        </td>
                        <td>Низкий.</td>
                    </tr>
                </table>
{#            <div id="third-step" style="display: none;">#}
{#                Расположите свои профессиональные навыки в каждом блоке таким образом, чтобы на#}
{#                первом месте оказался тот навык, который у вас наиболее развит.#}
{#            </div>#}

            <div id="fourth-step" style="display: none;">

            </div>
        </div>
            <div id="third-step" style="display: none;">
                Оцените ваши Функциональные навыки. На данном этапе требуется для каждой
                характеристики выбрать один из трех приоритетов, с учетом ограничений на количество каждого из них:
                <table id="third-step-table">
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-third slider-tooltip"></div>
                        </td>
                        <td>Высокий. Выбрано <b><span id="high-selected">0</span></b>/<span
                                id="high-selected-max">10</span> характеристик.
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-second slider-tooltip"></div>
                        </td>
                        <td>Средний. Выбрано <b><span id="medium-selected">0</span></b>/<span id="medium-selected-max">10</span>
                            характеристик.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="helper helper-first slider-tooltip"></div>
                        </td>
                        <td>Низкий.</td>
                    </tr>
                </table>
            </div>
            <div id="fifth-step" style="display: none;">
                Оцените ваши Функциональные навыки. На данном этапе требуется для каждой
                характеристики выбрать один из трех приоритетов, с учетом ограничений на количество каждого из них:
                <table id="fifth-step-table">
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-third slider-tooltip"></div>
                        </td>
                        <td>Высокий. Выбрано <b><span id="high-selected">0</span></b>/<span
                                id="high-selected-max">10</span> характеристик.
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-second slider-tooltip"></div>
                        </td>
                        <td>Средний. Выбрано <b><span id="medium-selected">0</span></b>/<span id="medium-selected-max">10</span>
                            характеристик.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="helper helper-first slider-tooltip"></div>
                        </td>
                        <td>Низкий.</td>
                    </tr>
                </table>
            </div>

    </div>
{% endblock %}
