{% extends "restricted_employer/base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <script type="text/javascript" src="{% static 'js_custom/employer/invite.js' %}"></script>
    <script type="text/javascript" src="{% static 'js_custom/employer/settings_head.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.maskedinput.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-6">
            <label for="select-org">Выбрать организацию</label>
            <select class="form-control" id="select-org">
                <option disabled selected value>-- Выберите организацию --</option>
                {% for employerUser in employerUsers %}
                    <option {% if employerUser.employer.id == employer.id %} selected {% endif %}
                                                                             value="{{ employerUser.employer.id }}">
                        {{ employerUser.employer.org_name }}
                    </option>
                {% endfor %}
            </select>
            <br>
        </div>
    </div>
    {% if employerUsers %}
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#profile">Общая информация</a></li>
            <li><a data-toggle="tab" href="#contacts">Контакты</a></li>
            <li><a data-toggle="tab" href="#staff">Сотрудники</a></li>
        </ul>
        <div class="tab-content">
            <!-- First tab -->
            <div id="profile" class="tab-pane fade in active">
                {% include "restricted_employer/tabs/settings_profile_tab.html" %}
            </div>

            <!-- Second tab -->
            <div id="contacts" class="tab-pane fade my_container">
                {% include "restricted_employer/tabs/settings_contacts_tab.html" %}
            </div>
            <!-- Third tab -->
            <div id="staff" class="tab-pane fade my_container">
                {% include "restricted_employer/tabs/staff_tab.html" %}
            </div>
        </div>
    {% else %}
        <div id="success-message" style="font-size: 20px; color: #2F4F4F; line-height: 1.5;">
            Вы не привязаны ни к одной организации. Вы можете зарегистрировать собственную организацию или получить
            приглашение в существующую.
        </div>
        <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#AddEmployerModal">
            Зарегистрировать
        </button>
        {% include "restricted_employer/modals/registration_modal.html" %}
    {% endif %}
    <div id="modals-div">
        {% include "restricted_employer/modals/contact_modal.html" %}
        {% include "restricted_employer/modals/invite_modal.html" %}
        {% include "restricted_employer/modals/logo_modal.html" %}
    </div>
{% endblock %}
{% block bootstrap3_extra_script %}
    <script type="text/javascript" src="{% static 'js_custom/employer/settings_body.js' %}"></script>
{% endblock %}