{% extends "restricted_employer/base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
{% endblock %}

{% block content %}


    {% if vacancies %}
        <div class="container" style="width: auto !important;">
        <h3 style="padding-left: 10px;">Мои вакансии</h3>
        <div class="grid">
            <div class="grid-sizer"></div>





            {% for vacancy in vacancies %}
                                <div class="grid-item">
                    <form method="GET" id={{ vacancy.id }} action="remove_vacancy" onsubmit="return confirm ('Вы действительно хотите удалить вакансию?');">
                        <input type="hidden" value={{ vacancy.id }} name="record_id" id={{vacancy.id}}}/>
                    </form>
                    <button class="btn btn-danger btn-xs pull-right btn-clipboard" type="submit" form={{ vacancy.id }} >
                        <i class="fa fa-remove fa-lg" aria-hidden="true"></i>

                    </button>
                    <div class="cv-description">
                        <div class="cv-description-header center-div">
                            <h4>{{ vacancy.post.name }}</h4>

                        </div>
                        <div class="cv-description-body">
                            <span class="list_dot"></span>
                            Минимальная зарплата:
                            {{ vacancy.salary_lower }} <i class="fa fa-rub" aria-hidden="true"></i>
                            <br>
                            <span class="list_dot"></span>
                            Максимальная зарплата:
                            {{ vacancy.salary_upper }} <i class="fa fa-rub" aria-hidden="true"></i>
                             <br>
                            <span class="list_dot"></span>
                            Опубликовано от компании:
                            {{ vacancy.employer.org_name }}
                            <br>
                           <button class="btn btn-default btn-sm" style="margin-top: 10px;" onclick="location.href='/restricted_employer/edit_vacancy?id={{vacancy.id}}';">
                                <i class="fa fa-edit fa-lg" aria-hidden="true"></i> Редактировать вакансию
                            </button>
                            <br><br>
                            <span style="cursor: pointer; border-bottom:  1px solid #51544c;" onclick="location.href='/restricted_employer/get_candidates?id={{vacancy.id}}';">Подходящие резюме </span>
                        </div>
                    </div>
                </div>
{#                <div class="grid-item" style="border-radius: 25px; border: 2px solid #337ab7; padding:10px; margin-bottom: 15px; margin-right: 5px;">#}
{#                    <form method="GET" id={{ vacancy.id }} action="remove_vacancy" onsubmit="return confirm ('Вы действительно хотите удалить резюме?');">#}
{#                        <input type="hidden" value={{ vacancy.id }} name="record_id" id={{vacancy.id}}}/>#}
{#                    </form>#}
{#                    <button class="btn btn-danger btn-xs pull-right btn-clipboard" type="submit" form={{ vacancy.id }} >#}
{#                        <i class="fa fa-remove fa-lg" aria-hidden="true"></i>#}
{##}
{#                    </button>#}
{#                    <div class="vacancy-description">#}
{#                        <div class="vacancy-description-header center-div">#}
{#                            <h4>{{ vacancy.post.name }}</h4>#}
{##}
{#                        </div>#}
{#                        <div class="vacancy-description-body">#}
{#                            <span class="list_dot"></span>#}
{#                            Компания: {{ vacancy.employer.org_name }}#}
{#                            <br><span class="list_dot"></span>#}
{#                            Город: {{ vacancy.city.name }}#}
{##}
{##}
{#                            <br><button class="btn btn-default btn-sm" style="margin-top: 10px;" onclick="location.href='/restricted_employer/edit_vacancy?id={{vacancy.id}}';">>#}
{#                                <i class="fa fa-edit fa-lg" aria-hidden="true"></i> Редактировать вакансию#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            {% endfor %}
        </div>
        <script type="text/javascript">
            $('.grid').masonry({
                // set itemSelector so .grid-sizer is not used in layout
                itemSelector: '.grid-item',
                // use element for option
                columnWidth: '.grid-sizer',
            })
        </script>
    {% else %}
        <div>
            Вакансии не найдены
        </div>
    {% endif %}
<br>
<button class="btn btn-lg btn-success" style="margin-left: 10px;"
        onclick="location.href='/restricted_employer/add_vacancy';">
    <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Добавить вакансию
</button>






{% endblock %}