{% extends "restricted_employer/base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <script type="text/javascript" src="{% static 'js_custom/employer/user_settings_head.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.maskedinput.js' %}"></script>
{% endblock %}
{% block content %}
    <form id="settings-form" style="max-width: 735px;" action="/restricted_employer/user_settings" method="post">
        {% csrf_token %}

        <div class="form-group">
            <!-- First line -->
            <div class="col-sm-12">
                <hr>
                <h3 style="margin-left: -15px;">Личная информация</h3>
            </div>
            <div class="col-sm-6">
                <label for="input-last-name">Фамилия</label>
                <div class="input-group">
                    <input type="text" name="lastName" class="form-control" id="input-last-name"
                           placeholder="Фамилия"
                           value="{{ user.last_name }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover"
                                data-content="От 2-х до 30 символов.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="input-first-name">Имя</label>
                <div class="input-group">
                    <input type="text" name="firstName" class="form-control" id="input-first-name"
                           placeholder="Имя"
                           value="{{ user.first_name }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover"
                                data-content="От 2-х до 30 символов.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="input-patronymic">Отчество</label>
                <div class="input-group">
                    <input type="text" name="patronymic" class="form-control" id="input-patronymic"
                           placeholder="Отчество"
                           value="{{ user.patronymic }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover"
                                data-content="От 2-х до 50 символов.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-sm-12">
                <hr>
                <h3 style="margin-left: -15px;">Смена пароля текущего пользователя</h3>
            </div>
            <div class="col-sm-6">
                <label for="input-password">Пароль</label>
                <div class="input-group">
                    <input type="password" name="password" class="form-control" id="input-password"
                           placeholder="Пароль" readonly
    onfocus="this.removeAttribute('readonly')">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" id="show-hide" title="Показать пароль">
                            <span id="eye-icon" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="input-password">Подтверждение пароля</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="input-password-confirm"
                           placeholder="Пароль" readonly
    onfocus="this.removeAttribute('readonly')">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" id="show-hide-confirm" title="Показать пароль">
                            <span id="eye-icon-confirm" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-sm-12">
            <hr>
            <button type="submit" id="submit-save" class="btn btn-primary btn-lg">
                Сохранить
            </button>
        </div>
    </form>
{% endblock %}
{% block bootstrap3_extra_script %}
    <script type="text/javascript" src="{% static 'js_custom/employer/settings_body.js' %}"></script>
{% endblock %}