.level-selector {
    border: 1px solid #999;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    margin: 5px;
    float: left;
}

.first {
    background-color: #F56E6E;
}

.helper {
    border-radius: 3px;
    width: 20px;
    height: 20px;
    margin: 5px;
}

.slider-tooltip {
    float: left;
}

.helper-first {
    background-color: #F56E6E;
}

.helper-second {
    background-color: #F5C66E;
}

.helper-third {
    background-color: #5FD48C;
}

.row {
    align-items: center;
    display: flex;
}

.sortable-ghost, .sortable-chosen {
    background-color: transparent !important;
}

.odd-row {
    background-color: #F5F5F5;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    text-align: center;
}

#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 9px;
    width: 16.6%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: white;
    background: black;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

@media (max-width: 1024px) {
    #progressbar > li {
        line-height: 0;
        font-size: 0;
        color: transparent;
    }
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #337ab7;
    color: white;
}

.level-slider-group {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #BBB;
}

div.unit_block > h4 {
    border-bottom: 1px solid #BBB;

}

.list-group > .list-group-item:last-child {
    margin-bottom: 10px;
}

div.unit {
    cursor: move;
    cursor: -webkit-grabbing;
}

button.add_point, button.remove_point {
    width: 40px;
    height: 20px;
}

td.td_col_1 {
    width: 80%;
    min-width: 150px;
}

td.td_col_2, td.td_col_3 {
    width: 10%;
    min-width: 45px;
}

a.ui-button.ui-widget.ui-spinner-button.ui-spinner-up.ui-corner-tr.ui-button-icon-only {
    border-bottom: 1px solid #BBB;
}

a.ui-button.ui-widget.ui-spinner-button.ui-spinner-down.ui-corner-br.ui-button-icon-only {
    border-top: 1px solid #BBB;
}

input.spinner.ui-spinner-input {
    width: 50px;
}

.slider {
    width: 100% !important;
}