.relevance-bar {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #ddd;
}

.relevance-result-bar {
  position: absolute;
  width: 65%;
  height: 100%;
  background-color: #449D44;
}
.appearance-skill-bar {
  position: absolute;
  width: 45%;
  height: 100%;
  background-color: #449D44;
}
.personal-skill-bar {
  position: absolute;
  width: 21%;
  height: 100%;
  background-color: #449D44;
}

.business-skill-bar {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #449D44;
}

.professional-skill-bar {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #449D44;
}
.functional-skill-bar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #449D44;
}

.label {
  text-align: center;
  color: white;
}
.center-div {
    text-align: center;
    float: none;
}

.slide-div {
    display: none;
}

.center-div > button {
    margin: 5px;
}

a.dropdown-toggle {
    height: 50px;
}

.sidebar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sidebar-toggle:focus {
    outline: 0;
}

.sidebar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

@media (min-width: 768px) {
    .sidebar-toggle {
        display: inherit;
        margin-left: 250px;
        position: absolute;
    }
}

.my_container {
    display: block;
    line-height: 20px;
    height: 310px;
    margin-bottom: 20px;
}

.c1, .c2 {
    padding: 20px;
    float: left;
    width: 33%;
}

.c2 {
    margin-left: 10px;
}

@media (max-width: 890px) {
    .c1, .c2 {
        width: 100%;
    }

    .c2 {
        margin-top: 20px;
        margin-left: 0px;
    }

    .my_container {
        height: 580px;
    }
}

.column-1, .column-2 {
    padding: 20px;
    float: left;
}

.column-1 {
    width: 60%;
    margin-right: 10px;
}

.column-2 {
    text-align: justify;
    width: 36%;
    max-width: 600px;
}

@media (max-width: 1050px) {
    .column-1, .column-2 {
        width: 100%;
    }

    .column-2 {
        margin-top: 20px;
        margin-left: 0px;
    }

    .column-holder {
        display: flex;
        flex-direction: column-reverse;
    }
}

.select2 {
    width: 100% !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.border-block {
    border-radius: 25px;
    border: 2px solid #337ab7;
    padding: 10px;
    margin-bottom: 15px;
}

.border-block.border-block-sm {
    border-radius: 15px;
}

.border-block.border-block-lg {
    border-radius: 25px;
}

.list_dot {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    border: 5px solid #337ab7;
    display: inline-block;
}

.cv-description-header {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #337ab7;
    color: #fafafa;
}

.cv-description-header > div {
    position: absolute;
    top: 2px;
    right: 2px;
    margin-right: 10px;
    margin-top: 10px;
}

.cv-description-body {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cv-description {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
    margin-top: 10px;
}

.grid-sizer, .grid-item  {
  width: calc(100% / 3);
  width: 33.33%;
  min-width: 230px;
}

@media (min-width: 768px) {
    .grid-sizer, .grid-item {
        min-width: 300px;
    }
}

.grid-item {
    padding-left: 10px;
    padding-right: 10px;
}

.grid {
  overflow: hidden;
}