{% extends "restricted_applicant/base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <link href="{% static "css/add-cv.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "/js_custom/saveResult.js" %}"></script>
    <script type="text/javascript" src="{% static "/js_custom/changeColor.js" %}"></script>
    <script type="text/javascript" src="{% static "js_custom/applicant/add_cv.js" %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/css/bootstrap-slider.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/css/bootstrap-slider.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.min.js"></script>

{% endblock %}

{% block content %}
    <ul id="progressbar">
        <li id="progressbar-first" class="active">Выбор специальности</li>
        <li id="progressbar-second">Функциональные навыки</li>
        <li id="progressbar-third">Профессиональные навыки</li>
        <li id="progressbar-fourth">Деловые качества</li>
        <li id="progressbar-fifth">Личные качества</li>
        <li id="progressbar-sixth">Дополнительная информация</li>
    </ul>
    <div class="column-holder">
        <div class="col column-1">
            <div id="first-step-content">
                <label for="select-post">Выберите специальность:</label>
                <select class="form-control" name="post" id="select-post">
                    <option disabled selected value>-- Выберите специальность --</option>
                    {% for post in posts %}
                        <option value="{{ post.id }}">
                            {{ post.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div id="second-step-content">
                <div class="level-slider-group" high-rating-count="10" medium-rating-count="10"
                     style="max-width: 600px;" hidden>
                </div>
            </div>
            <div id="third-step-content" hidden>

            </div>

            <div id="fourth-step-content" hidden>
                      
                <div class="level-slider-group-4" high-rating-count="10" medium-rating-count="10"
                     style="max-width: 600px;" hidden>
                </div>
            </div>

            <div id="fifth-step-content">
                <div class="level-slider-group-5" high-rating-count="10" medium-rating-count="10"
                     style="max-width: 600px;" hidden>
                </div>
            </div>


            <div id="sixth-step-content" hidden>
                <div>
                    <label for="select-salary">Выберите желаемую зарплату</label>
                    <p>
                        <label for="amount">Зарплата(руб.):</label>
                        <input type="text" id="amount">

                    </p>
                </div>
                 <div>
                    <input id="salary-slider" />
                 </div>




                <div id="slider-range" ></div>

                    <label for="textarea-applicant-about">О себе</label>
                    <div id="textEditorApp">
                        <textarea id="input-applicant-about" name="applicantAbout" rows = "10"></textarea>
                    </div>
                </div>

        </div>
        <div class="col column-2 slider-helper">
            <h3 style="margin: 0px !important; margin-bottom: 10px !important;">Как заполнять резюме?</h3>
            <div id="first-step">
                <b>1. Первый шаг</b> - выберите направление, для которого хотите заполнить резюме.
            </div>
            <div id="second-step" style="display: none;">
                <b>Второй шаг</b> - оцените ваши функциональные навыки. На данном этапе требуется для каждой
                характеристики выбрать один из трех приоритетов, с учетом ограничений на количество каждого из них:
                <table id="second-step-table">
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-third slider-tooltip"></div>
                        </td>
                        <td>Высокий. Выбрано <b><span id="high-selected">0</span></b>/<span
                                id="high-selected-max">10</span> характеристик.
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-second slider-tooltip"></div>
                        </td>
                        <td>Средний. Выбрано <b><span id="medium-selected">0</span></b>/<span id="medium-selected-max">10</span>
                            характеристик.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="helper helper-first slider-tooltip"></div>
                        </td>
                        <td>Низкий.</td>
                    </tr>
                </table>
            </div>
            <div id="third-step" style="display: none;">
                <b>Третий шаг</b> - расположите свои профессиональные навыки в каждом блоке таким образом, чтобы на
                первом месте оказался тот навык, который у вас наиболее развит.
                 <table id="third-step-table" hidden>
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-third slider-tooltip"></div>
                        </td>
                        <td>Высокий. Выбрано <b><span id="high-selected">0</span></b>/<span
                                id="high-selected-max">10</span> характеристик.
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-second slider-tooltip"></div>
                        </td>
                        <td>Средний. Выбрано <b><span id="medium-selected">0</span></b>/<span id="medium-selected-max">10</span>
                            характеристик.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="helper helper-first slider-tooltip"></div>
                        </td>
                        <td>Низкий.</td>
                    </tr>
                </table>
            </div>

            <div id="fourth-step" style="display: none;">
                <b>Четвертый шаг.</b> Деловые качества. На данном этапе требуется для каждой
                характеристики выбрать один из трех приоритетов, с учетом ограничений на количество каждого из них:
                <table id="fourth-step-table">
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-third slider-tooltip"></div>
                        </td>
                        <td>Высокий. Выбрано <b><span id="high-selected">0</span></b>/<span
                                id="high-selected-max">10</span> характеристик.
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-second slider-tooltip"></div>
                        </td>
                        <td>Средний. Выбрано <b><span id="medium-selected">0</span></b>/<span id="medium-selected-max">10</span>
                            характеристик.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="helper helper-first slider-tooltip"></div>
                        </td>
                        <td>Низкий.</td>
                    </tr>
                </table>
            </div>

            <div id="fifth-step" style="display: none;">
                <b>Пятый шаг.</b> Личные качества. На данном этапе требуется для каждой
                характеристики выбрать один из трех приоритетов, с учетом ограничений на количество каждого из них:
                <table id="fifth-step-table">
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-third slider-tooltip"></div>
                        </td>
                        <td>Высокий. Выбрано <b><span id="high-selected">0</span></b>/<span
                                id="high-selected-max">10</span> характеристик.
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #BBB;">
                        <td>
                            <div class="helper helper-second slider-tooltip"></div>
                        </td>
                        <td>Средний. Выбрано <b><span id="medium-selected">0</span></b>/<span id="medium-selected-max">10</span>
                            характеристик.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="helper helper-first slider-tooltip"></div>
                        </td>
                        <td>Низкий.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
