{% extends "base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}
{% block bootstrap3_content %}
    <nav class="navbar navbar-default no-margin">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">

            <a class="navbar-brand" href="/">Логотип</a>
            <button class="sidebar-toggle collapse in" data-toggle="collapse" id="menu-toggle"><span
                    class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
        </div>

        <ul class="nav navbar-right top-nav">
            <li class="form-dropdown">
                <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    {{ auth_user.first_name }} {{ user.last_name }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Выйти</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-top-links navbar-right">
                <li class="active">

                </li>
            </ul>
        </div>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            {% with request.resolver_match.url_name as url_name %}
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                    <li {% if url_name == 'applicant_home' %}class="active"{% endif %}>
                        <a href="/restricted_applicant/">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-file-text-o fa-stack-1x "></i>
                            </span>
                            Мои резюме
                        </a>
                    </li>
                    <li {% if url_name == 'applicant_settings' %}class="active"{% endif %}>
                        <a href="/restricted_applicant/settings">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-user fa-stack-1x "></i>
                            </span>
                            Профиль
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-list-ul fa-stack-1x "></i>
                            </span>
                            Прочее
                        </a>

                        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                            <li {% if url_name == 'applicant_vacancies' %}class="active current"{% endif %}>
                                <a href="/restricted_applicant/vacancies">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-briefcase fa-stack-1x "></i>
                            </span>
                                    Вакансии
                                </a>
                            </li>
                            <li {% if url_name == 'applicant_how_it_works' %}class="active current"{% endif %}>
                                <a href="/restricted_applicant/how_it_works">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-question-circle-o fa-stack-1x "></i>
                            </span>
                                    Как это работает
                                </a>
                            </li>
                            <li {% if url_name == 'applicant_feedback' %}class="active current"{% endif %}>
                                <a href="/restricted_applicant/feedback">
                             <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-comment-o fa-stack-1x "></i>
                            </span>
                                    Обратная связь
                                </a>
                            </li>
                            <li {% if url_name == 'applicant_about' %}class="active current"{% endif %}>
                                <a href="/restricted_applicant/about">
                             <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-info fa-stack-1x "></i>
                            </span>
                                    О проекте
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            {% endwith %}
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock %}