{% extends "restricted_applicant/base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <script type="text/javascript" src="{% static "js_custom/applicant/home.js" %}"></script>
{% endblock %}

{% block content %}
    {% if cvs %}
        <div class="container" style="width: auto !important;">
        <h3 style="padding-left: 10px;">Мои резюме</h3>
        <div class="grid">
            <div class="grid-sizer"></div>
            {% for cv in cvs %}
                <div class="grid-item">
                    <form method="GET" id={{ cv.id }} action="remove_cv" onsubmit="return confirm ('Вы действительно хотите удалить резюме?');">
                        <input type="hidden" value={{ cv.id }} name="record_id" id={{cv.id}}}/>
                    </form>
                    <button class="btn btn-danger btn-xs pull-right btn-clipboard" type="submit" form={{ cv.id }} >
                        <i class="fa fa-remove fa-lg" aria-hidden="true"></i>

                    </button>
                    <div class="cv-description">
                        <div class="cv-description-header center-div">
                            <h4>{{ cv.post.name }}</h4>

                        </div>
                        <div class="cv-description-body">
                            <span class="list_dot"></span>
                            Желаемая зарплата:
                            {{ cv.salary }} <i class="fa fa-rub" aria-hidden="true"></i>
                            <button class="btn btn-default btn-sm" style="margin-top: 10px;" onclick="location.href='/restricted_applicant/edit_cv?id={{cv.id}}';">>
                                <i class="fa fa-edit fa-lg" aria-hidden="true"></i> Редактировать резюме
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script type="text/javascript">
            $('.grid').masonry({
                // set itemSelector so .grid-sizer is not used in layout
                itemSelector: '.grid-item',
                // use element for option
                columnWidth: '.grid-sizer',
            })
        </script>
    {% else %}
        <div>
            Резюме не найдено
            <br>
            <br>
        </div>
    {% endif %}
<button class="btn btn-lg btn-success" style="margin-left: 10px;"
        onclick="location.href='/restricted_applicant/add_cv';">
    <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Добавить резюме
</button>
</div>
{% endblock %}
