{% extends "restricted_applicant/base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <script type="text/javascript" src="{% static 'js_custom/applicant/applicant_settings_head.js' %}"></script>
{% endblock %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#profile">Персональные данные</a></li>
        <li><a data-toggle="tab" href="#education">Образование</a></li>
        <li><a data-toggle="tab" href="#contacts">Контакты</a></li>
         <li><a data-toggle="tab" href="#appearance">Внешние данные</a></li>
    </ul>
    <div class="tab-content">
        <!-- First tab -->
        <div id="profile" class="tab-pane fade in active">
            {% include "restricted_applicant/tabs/settings_profile_tab.html" %}
        </div>

        <!-- Second tab -->
        <div id="education" class="tab-pane fade">
            {% include "restricted_applicant/tabs/settings_education_tab.html" %}
        </div>

        <!-- Third tab -->
        <div id="contacts" class="tab-pane fade my_container">
            {% include "restricted_applicant/tabs/settings_contacts_tab.html" %}
        </div>

        <!-- Fourth tab -->
        <div id="appearance" class="tab-pane fade my_container" style="height: 100%;">
            {% include "restricted_applicant/tabs/settings_appearance_tab.html" %}
        </div>
    </div>

    {% include "restricted_applicant/modals/education_modal.html" %}
    {% include "restricted_applicant/modals/contact_modal.html" %}
    {% include "restricted_applicant/modals/avatar_modal.html" %}
{% endblock %}
{% block bootstrap3_extra_script %}
    <script type="text/javascript" src="{% static 'js_custom/applicant/applicant_settings_body.js' %}"></script>
{% endblock %}