<form id="settings-form" action="/restricted_applicant/settings" method="post">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>Профиль</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="center-div" id="photo-div">
                    <canvas id='user-photo' class="img-thumbnail" style="width:300px;"></canvas>
                    <script>
                        function show_avatar() {
                            var photo = document.getElementById('user-photo'),
                                    ctx = photo.getContext('2d'),
                                    pic = new Image();
                            photo.width = 300;
                            photo.height = 300;
                            pic.src = "{{ MEDIA_URL }}{{ applicant.photo.url }}";
                            pic.onload = function () {
                                ctx.drawImage(pic, {{ applicant.x1}}, {{ applicant.y1}}, {{ applicant.x2}} - {{ applicant.x1}}, {{ applicant.y2}} - {{ applicant.y1}}, 0, 0, 300, 300);
                            }
                        }
                        show_avatar();
                    </script>
                </div>
                <div class="center-div">
                    <button id="photo-button" type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#AvatarModal">
                        Изменить фотографию профиля
                    </button>
                </div>
            </div>

            <div class="col-md-6">
                <label for="input-last-name">Фамилия</label>
                <div class="input-group input-group-md">
                    <input type="text" name="lastName" class="form-control" id="input-last-name"
                           placeholder="Фамилия"
                           value="{{ applicant.user.last_name }}">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-info" data-toggle="popover"
                            data-content="Русские, латинские буквы и знак '-'. От 2-х до 40 символов.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                </span>
                </div>

                <label for="input-first-name">Имя</label>
                <div class="input-group input-group-md">
                    <input type="text" name="firstName" class="form-control" id="input-first-name"
                           placeholder="Имя"
                           value="{{ applicant.user.first_name }}">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-info" data-toggle="popover"
                            data-content="Русские, латинские буквы и знак '-'. От 2-х до 30 символов.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                </span>
                </div>

                <label for="input-patronymic">Отчество</label>
                <div class="input-group input-group-md">
                    <input type="text" name="patronymic" class="form-control" id="input-patronymic"
                           placeholder="Отчество"
                           value="{{ applicant.user.patronymic }}">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-info" data-toggle="popover" data-content="Русские,
                        латинские буквы и знак '-'. От 2-х до 50 символов. Не обязательно к заполнению.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="input-birth-date">Дата рождения</label>
                <input type="text" name="dateOfBirth" class="form-control" id="input-birth-date"
                       data-date-end-date="-14y" placeholder="дд.мм.гггг"
                       value="{{ applicant.date_of_birth | date:"d.m.Y" }}">
                <label for="input-email">Email</label>

                <div class="input-group">
                    <input class="form-control" value="{{ applicant.user.email }}" disabled="true">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-info" data-toggle="popover"
                            data-content="Адрес электронной почты является логином для доступа к вашей учетной записи.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                </span>
                </div>
            </div>

            <div class="col-md-6">
                
                <label for="select-gender">Пол</label>
                <select class="form-control" name="gender" id="select-gender">
                    <option {% if applicant.gender == 1 %} selected {% endif %} value="1">Мужской</option>
                    <option {% if applicant.gender == 0 %} selected {% endif %} value="0">Женский</option>
                </select>

                <label for="input-nationality">Гражданство</label>

                <br>
                
                    <input type="checkbox" name="nationality" id="input-nationality" {% if applicant.nationality == '1' %} checked {% endif %}/> гражданство Российской Федерации

            </div>
        </div>
        <div class="row">
            

            <div class="col-md-6">
                <label for="select-city">Город</label>
                <select class="form-control" name="city" id="select-city">
                    <option disabled>-- Выберите город --</option>
                                {% for city in cities %}

                        <option {% if applicant.city.id == city.id %} selected {% endif %} value="{{ city.id }}">
                            {{ city.name }}
                        </option>
                    {% endfor %}                        
                </select>
            </div>

            <div class="col-md-6">
                <label for="input-subway">Метро</label>
                <select class="form-control" name="subway" id="select-subway"
                        {% if not metro_stations %}disabled="true"{% endif %}>
                    <option disabled selected value>-- Выберите станцию метро --</option>
                    {% if metro_stations %}
                        {% for station in metro_stations %}
                            <option {% if applicant.subway.id == station.id %} selected {% endif %}
                                                                               value="{{ station.id }}"
                                                                               class="{{ station.line.color }}"
                                                                               title="{{ station.line.name }}">
                                {{ station.name }}
                            </option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="col-sm-12"><br><br>
                <label for="applicantAbout">О себе:</label>
                <div id="TextEditor"></div>
                <textarea id="input-applicant-about" name="applicantAbout"
                          style="display: none;">{{ applicant.about }}</textarea>
            </div>
            <br>
            <h3>Смена пароля</h3>
            <div class="col-sm-6">
                <label for="input-password">Пароль</label>
                <div class="input-group">
                    <input type="password" name="password" class="form-control" id="input-password"
                           placeholder="Пароль" readonly
    onfocus="this.removeAttribute('readonly')">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" id="show-hide" title="Показать пароль">
                            <span id="eye-icon" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                </span>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="input-password">Подтверждение пароля</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="input-password-confirm"
                           placeholder="Пароль" readonly
    onfocus="this.removeAttribute('readonly')">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" id="show-hide-confirm" title="Показать пароль">
                            <span id="eye-icon-confirm" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                </span>
                </div>
            </div>
            <div class="col-sm-12">
                <hr>
                <button type="submit" id="submit-save" class="btn btn-primary btn-lg">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</form>