    <div id="appearances" style="width: 300px;">
                    <br>
                    <label for="select-post">Выберите цвет ваших глаз:</label>
                    <select class="form-control " name="post" id="select-eyes-color">
                        <option disabled selected value>-- Выберите цвет ваших глаз --</option>

                        <option {% if applicant.appearance.eyes_color == 0 %} selected {% endif %} value="0">Синие</option>
                        <option {% if applicant.appearance.eyes_color == 1 %} selected {% endif %} value="1">Голубые</option>
                        <option {% if applicant.appearance.eyes_color == 2 %} selected {% endif %} value="2">Серые</option>
                        <option {% if applicant.appearance.eyes_color == 3 %} selected {% endif %} value="3">Сероголубые</option>
                        <option {% if applicant.appearance.eyes_color == 4 %} selected {% endif %} value="4">Серозеленые</option>
                        <option {% if applicant.appearance.eyes_color == 5 %} selected {% endif %} value="5">Карие</option>
                        <option {% if applicant.appearance.eyes_color == 6 %} selected {% endif %} value="6">Зеленые</option>
                    </select>

                     <br>
                    <label for="select-post">Выберите ваш цвет волос:</label>
                    <select class="form-control " name="post" id="select-hair">
                        <option disabled selected value>-- Выберите ваш цвет волос --</option>

                        <option {% if applicant.appearance.hair == 0 %} selected {% endif %} value="0">Темные</option>
                        <option {% if applicant.appearance.hair == 1 %} selected {% endif %} value="1">Русые</option>
                        <option {% if applicant.appearance.hair == 2 %} selected {% endif %} value="2">Светлые</option>
                        <option {% if applicant.appearance.hair == 3 %} selected {% endif %} value="3">Рыжие</option>
                        <option {% if applicant.appearance.hair == 4 %} selected {% endif %} value="4">Седые</option>
                        <option {% if applicant.appearance.hair == 5 %} selected {% endif %} value="5">Без волос</option>
                    </select>

                    <br>
                    <label for="select-post">Укажите ваше телосложение:</label>
                    <select class="form-control " name="post" id="select-body-type">
                        <option disabled selected value>-- Укажите ваше телосложение --</option>

                        <option {% if applicant.appearance.body_type == 0 %} selected {% endif %} value="0">Худощавое</option>
                        <option {% if applicant.appearance.body_type == 1 %} selected {% endif %} value="1">Обычное</option>
                        <option {% if applicant.appearance.body_type == 2 %} selected {% endif %} value="2">Спортивное</option>
                        <option {% if applicant.appearance.body_type == 3 %} selected {% endif %} value="3">Плотное</option>
                        <option {% if applicant.appearance.body_type == 4 %} selected {% endif %} value="4">Полное</option>
                    </select>

                    <br>
                    <label for="select-post">Укажите ваш вес:</label>
                    <select class="form-control " name="post" id="select-weight">
                        <option disabled selected value>-- Укажите ваш вес --</option>

                        <option {% if applicant.appearance.weight == 0 %} selected {% endif %} value="0">менее 50</option>
                        <option {% if applicant.appearance.weight == 1 %} selected {% endif %} value="1">от 50 до 55</option>
                        <option {% if applicant.appearance.weight == 2 %} selected {% endif %} value="2">от 55 до 60</option>
                        <option {% if applicant.appearance.weight == 3 %} selected {% endif %} value="3">от 60 до 65</option>
                        <option {% if applicant.appearance.weight == 4 %} selected {% endif %} value="4">более 65</option>
                    </select>

                    <br>
                    <label for="select-post">Укажите ваш рост:</label>
                    <select class="form-control " name="post" id="select-height">
                        <option disabled selected value>-- Укажите ваш рост --</option>

                        <option {% if applicant.appearance.height == 0 %} selected {% endif %} value="0">менее 150</option>
                        <option {% if applicant.appearance.height == 1 %} selected {% endif %} value="1">от 150 до 160</option>
                        <option {% if applicant.appearance.height == 2 %} selected {% endif %} value="2">от 160 до 170</option>
                        <option {% if applicant.appearance.height == 3 %} selected {% endif %} value="3">от 170 до 180</option>
                        <option {% if applicant.appearance.height == 4 %} selected {% endif %} value="4">более 180</option>
                    </select>

                    <br>
                    <label for="select-post">Выберите ваш знак зодиака:</label>
                    <select class="form-control " name="post" id="select-zodiac">
                        <option disabled selected value>-- Выберите ваш знак зодиака --</option>

                        <option {% if applicant.appearance.zodiac == 0 %} selected {% endif %} value="0">Овен</option>
                        <option {% if applicant.appearance.zodiac == 1 %} selected {% endif %} value="1">Телец</option>
                        <option {% if applicant.appearance.zodiac == 2 %} selected {% endif %} value="2">Близнецы</option>
                        <option {% if applicant.appearance.zodiac == 3 %} selected {% endif %} value="3">Рак</option>
                        <option {% if applicant.appearance.zodiac == 4 %} selected {% endif %} value="4">Лев</option>
                        <option {% if applicant.appearance.zodiac == 5 %} selected {% endif %} value="5">Дева</option>
                        <option {% if applicant.appearance.zodiac == 6 %} selected {% endif %} value="6">Весы</option>
                        <option {% if applicant.appearance.zodiac == 7 %} selected {% endif %} value="7">Скорпион</option>
                        <option {% if applicant.appearance.zodiac == 8 %} selected {% endif %} value="8">Стрелец</option>
                        <option {% if applicant.appearance.zodiac == 9 %} selected {% endif %} value="9">Козерог</option>
                        <option {% if applicant.appearance.zodiac == 10 %} selected {% endif %} value="10">Водолей</option>
                        <option {% if applicant.appearance.zodiac == 11 %} selected {% endif %} value="11">Рыбы</option>
                    </select>

        <button  id="apperances-save" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">Сохранить</button>
    </div>