<div>
    <h3>Полученное образование</h3>
</div>
<div id="education-body">
    {% if applicant.education %}
        {% for record in applicant.education|dictsort:"finish_date" %}
            <div style="border-radius: 25px; border: 2px solid #337ab7; padding:10px; margin-bottom: 15px;">
                <div><label>Тип образования: {{ record.education_type_string }}</label></div>
                <div><label>Образовательное учереждение: {{ record.institution_name }}</label></div>
                {% if record.speciality %}
                    <div><label>Специальность: {{ record.speciality }}</label></div>
                {% endif %}
                <div><label>Год окончания: {{ record.finish_date }}</label></div>
                <div>
                    <button type="button" class="btn btn-primary" onclick="load_education({{ record.id }})">
                        Редактировать
                    </button>
                    <button type="button" class="btn btn-danger"
                            onclick="remove_education({{ record.id }})">Удалить
                    </button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        Данные об образовании отсутствуют.
    {% endif %}
</div>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddEducationModal">
    Добавить
</button>