<!DOCTYPE html>
{% load bootstrap3 %}
<html>

<head>

    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block bootstrap3_title %}
            Заголовок окна
        {% endblock %}
    </title>

    {% bootstrap_css %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if 'javascript_in_head'|bootstrap_setting %}
        {% bootstrap_javascript jquery=True %}
    {% endif %}

    <!-- CSS stylesheets -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "select2/css/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "selectize/selectize.bootstrap3.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">
    <link href="{% static "WYSIWYG/editor.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.6.3/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-datepicker/css/bootstrap-datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/sweetalert2.css" %}" rel="stylesheet">
    <link href="{% static 'imgareaselect/imgareaselect-default.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

    <!-- JS libraries -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.maskedinput.js' %}"></script>
    <script type="text/javascript" src="{% static 'imgareaselect/jquery.imgareaselect.pack.js' %}"></script>
    <script type="text/javascript" src="{% static "js/sweetalert2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.color.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js" %}"></script>
    <script type="text/javascript" src="{% static "select2/js/select2.js" %}"></script>
    <script type="text/javascript" src="{% static "selectize/selectize.min.js" %}"></script>
    <script type="text/javascript" src="{% static "WYSIWYG/editor.js" %}"></script>
    <script type="text/javascript" src="{% static "js_custom/sidebar_menu.js" %}"></script>
    <script type="text/javascript" src="{% static "js_custom/dropdown_menu.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ResizeSensor.js" %}"></script>
    <script type="text/javascript" src="{% static "js/masonry.pkgd.min.js" %}"></script>
    <script src="//cdn.jsdelivr.net/sortable/latest/Sortable.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function ($) {
            function getCookie(c_name) {
                if (document.cookie.length > 0) {
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1) {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start, c_end));
                    }
                }
                return "";
            }

            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });

            var content = $("#page-content-wrapper");
            var sidebar = $("#sidebar-wrapper");
            var navbar = $(".navbar-header");
            new ResizeSensor(content, function () {
                Resize($);
            });

            Resize($);

            function Resize($) {
                if (content.height() + 40 > $(window).height())
                    sidebar.css("height", content.height() + 40);
                else
                    sidebar.css("height", $(window).height() - navbar.height());
            }
        });
    </script>
    {% block bootstrap3_extra_head %}
    {% endblock %}
</head>

<body>

{% block bootstrap3_content %}
    django-bootstrap3 template content
{% endblock %}

{% if not 'javascript_in_head'|bootstrap_setting %}
    {% bootstrap_javascript jquery=True %}
{% endif %}

{% block bootstrap3_extra_script %}

{% endblock %}

</body>

</html>
