{% extends "public/public_base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <script type="text/javascript" src="{% static 'js_custom/employer/employer_registration_head.js' %}"></script>
{% endblock %}
{% block title %}
    Регистрация работодателя
{% endblock %}
{% block content %}
    <div id="error-message" style="color: #CC0000; padding-left:15px;">{{ error_message }}</div>
    <form id="registration-form" style="max-width: 735px;" action="employer_registration" method="post">
        {% csrf_token %}
        <div class="form-group">
            <!-- First line -->
            <legend> Данные пользователя</legend>
            <div class="col-sm-4">
                <label for="input-last-name">Фамилия</label>
                <div class="input-group">
                    <input type="text" name="lastName" class="form-control" id="input-last-name" placeholder="Фамилия"
                           value="{{ lastName }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover"
                                data-content="Русские, латинские буквы и знак '-'. От 2-х до 40 символов.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="input-first-name">Имя</label>
                <div class="input-group">
                    <input type="text" name="firstName" class="form-control" id="input-first-name" placeholder="Имя"
                           value="{{ firstName }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover"
                                data-content="Русские, латинские буквы и знак '-'. От 2-х до 30 символов.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="input-patronymic">Отчество</label>
                <div class="input-group">
                    <input type="text" name="patronymic" class="form-control" id="input-patronymic"
                           placeholder="Отчество"
                           value="{{ patronymic }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover" data-content="Русские,
                        латинские буквы и знак '-'. От 2-х до 50 символов. Не обязательно к заполнению.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="input-birth-date">Дата рождения</label>
                <input type="text" name="dateOfBirth" class="form-control" id="input-birth-date"
                       data-date-end-date="-14y" placeholder="дд.мм.гггг" value="{{ dateOfBirth }}">
            </div>
            <div class="col-sm-6">
                <label for="select-gender">Пол</label>
                <select class="form-control" name="gender" id="select-gender">
                    <option {% if gender == "1" %} selected {% endif %} value="1">Мужской</option>
                    <option {% if gender == "0" %} selected {% endif %} value="0">Женский</option>
                </select>
            </div>
            <!-- Second line -->
            <div class="col-sm-12">
                <label for="input-email">Email</label>
                <div class="input-group">
                    <input type="email" name="email" class="form-control" id="input-email" placeholder="Email"
                           value="{{ email }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover"
                                data-content="Адрес электронной почты является логином для доступа
                                к учетной записи вашей организации. После регистрации будет возможно создать
                                дополнительные учетные записи для других сотрудников.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>
            <!-- Third line -->
            <div class="col-sm-6">
                <label for="input-password">Пароль</label>
                <div class="input-group">
                    <input type="password" name="password" class="form-control" id="input-password"
                           placeholder="Пароль">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" id="show-hide" title="Показать пароль">
                            <span id="eye-icon" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="input-password-confirm">Подтверждение пароля</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="input-password-confirm" placeholder="Пароль">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" id="show-hide-confirm" title="Показать пароль">
                            <span id="eye-icon-confirm" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <legend> Данные об организации</legend>
            <div class="col-sm-6">
                <label for="input-organization-name">Название организации</label>
                <input type="text" name="organizationName" class="form-control" id="input-organization-name"
                       placeholder="Название организации" value="{{ organizationName }}">
            </div>
            <div class="col-sm-6">
                <label for="input-organization-site">Сайт</label>
                <input type="text" name="organizationSite" class="form-control" id="input-organization-site"
                       placeholder="Адрес сайта" value="{{ organizationSite }}">
            </div>
            <!-- Second line -->
            <div class="col-sm-6">
                <label for="select-employees-count">Количество сотрудников</label>
                <select class="form-control" name="employeesCount" id="select-employees-count">
                    <option {% if employeesCount == "0" %} selected {% endif %} value="0">До 5</option>
                    <option {% if employeesCount == "1" %} selected {% endif %} value="1">От 5 до 10</option>
                    <option {% if employeesCount == "2" %} selected {% endif %} value="2">От 10 до 20</option>
                    <option {% if employeesCount == "3" %} selected {% endif %} value="3">От 20 до 50</option>
                    <option {% if employeesCount == "4" %} selected {% endif %} value="4">От 50 до 100</option>
                    <option {% if employeesCount == "5" %} selected {% endif %} value="5">Больше 100</option>
                </select>
            </div>
            <!-- Third line -->

            <!-- Fifth line -->
            <div class="col-sm-6" style="padding-top: 25px;">
                <button type="submit" id="submit-registration" class="btn btn-primary btn-lg">
                    Зарегистрироваться
                </button>
            </div>
        </div>
    </form>
{% endblock %}