{% extends "public/public_base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
{% endblock %}
{% block title %}
    Обрантная связь
{% endblock %}
{% block content %}
    <div class="form-group">
        <form id="contact-form" name="contact-form" method="post" action="">
            <div id="feedback" class="col-sm-12">
                <legend>Обратная связь</legend>
                <div class="input-group">
                    <label for="name">Ваше имя:</label>
                    <input class="form-control" type="text" name="name" id="name" value=""/>
                </div>
                <div class="input-group">
                    <label for="email">Ваш e-mail:</label>
                    <input class="form-control" type="text" name="email" id="email" value=""/>
                </div>
                <div class="input-group">
                    <label for="subject">Тема письма:</label>
                    <select class="form-control" name="subject" id="subject">
                        <option value="" selected="selected"> - выбрать тему -</option>
                        <option value="pr1">Проблема с регистрацией</option>
                        <option value="pr2">Технический вопрос</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="message">Сообщение:</label>
                    <textarea class="form-control" name="message" id="message" cols="35" rows="5"></textarea>
                </div>
                <div class="input-group">
                    <label for="captcha">4 + 11 =</label>
                    <input class="form-control" type="text" name="captcha" id="captcha"/>
                </div><br/>
                <div class="input-group">
                    <input class="btn btn-primary btn-lg" type="submit" name="submit_button" id="submit_button" value="Отправить"/>
                    <input class="btn btn-danger btn-lg" type="reset" name="reset_button" id="reset_button" value="Очистить"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}