{% extends "public/public_base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <script type="text/javascript" src="{% static 'js_custom/public_home_head.js' %}"></script>
{% endblock %}
{% block title %}
    Заголовок
{% endblock %}
{% block content %}
    Перед вами первый в мире проект, где реализованы возможности искусственного интеллекта для оптимизации поиска работы
    и персонала. Мы создали новый формат электронного резюме и вакансии, адаптировали код для поиска и оптимизации и
    запустили проект в жизнь.  Нами сознательно разрушены основные стереотипы при создании резюме и вакансий и мы смогли
    перевести все процессы из аналогового в цифровой формат. Оставим сзади все как это было раньше, теперь все будет по
    другому.

    <div class="center-div">
        <button type="button" id="i_am_applicant" class="btn btn-primary btn-lg">
            Я соискатель
        </button>
        <button type="button" id="i_am_employer" class="btn btn-primary btn-lg">
            Я работодатель
        </button>
    </div>
    <div id="applicant_block" class="slide-div">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id suscipit est, non tempor dui. Donec ut massa
        vitae nisl sagittis ornare eget eu nisi. Vestibulum semper, erat a lobortis elementum, sapien diam lacinia
        tortor, bibendum suscipit turpis nibh sagittis urna. Phasellus dapibus erat erat, non dapibus nisi fringilla id.
        Sed cursus sed sem in tempor. Aliquam gravida consectetur dui, id aliquet neque pellentesque at. In ut felis
        blandit turpis lobortis varius. Aliquam maximus feugiat placerat. Maecenas lacinia lacus a metus feugiat tempor.
        Nullam pretium mi a maximus posuere. Pellentesque consequat est vel velit imperdiet sagittis. Integer nunc nisl,
        elementum sit amet quam non, molestie sodales magna. Etiam aliquam, ligula in fringilla rhoncus, nulla tellus
        imperdiet ante, sed placerat magna augue eu sem.

        Aliquam ac nisi nec urna mollis gravida ultrices eu lacus. Fusce ut orci ornare, feugiat urna tincidunt,
        venenatis enim. Praesent vulputate lorem at pharetra feugiat. Maecenas at ex mollis, venenatis diam mollis,
        condimentum nunc. Donec ut ipsum sed erat sagittis luctus sed eget massa. Donec sed mollis sapien. Nulla a
        vulputate erat. Aliquam sed sem nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.
        </br>
        <div class="center-div">
            <button class="btn btn-success btn-lg" onclick="location.href='/applicant_registration';">
                Регистрация
            </button>
        </div>
    </div>
    <div id="employer_block" class="slide-div">
        Mauris justo orci, malesuada in enim quis, pretium tempor velit. Integer et posuere justo. Etiam gravida
        vestibulum odio quis lobortis. Duis vitae lectus facilisis, accumsan libero vel, sagittis risus. Nunc sit amet
        metus non libero rutrum tincidunt. Vestibulum quis malesuada diam, ut tempus magna. Vestibulum ante ipsum primis
        in faucibus orci luctus et ultrices posuere cubilia Curae; Duis tempus nec urna in dignissim. Integer dapibus
        condimentum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque massa augue, pulvinar
        vitae neque ut, imperdiet dictum eros. Pellentesque vestibulum tincidunt sapien, sit amet consequat est interdum
        ut. Vivamus pharetra sodales mattis.
        </br>
        <div class="center-div">
            <button class="btn btn-success btn-lg" onclick="location.href='/employer_registration';">
                Регистрация
            </button>
        </div>
    </div>
{% endblock %}