{% extends "public/public_base.html" %}
{% load staticfiles %}
{% block title %}
    Авторизация
{% endblock %}
{% block bootstrap3_extra_head %}
    <script type="text/javascript">
        window.onpageshow = function (event) {
            if (event.persisted) {
                window.location.reload()
            }
        };
    </script>
{% endblock %}
{% block content %}
    <div id="error-message" style="color: #CC0000; padding-left:15px;">{{ error_message }}</div>

    <form action="login" style="max-width: 735px; margin: 15px;" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="input-login-email">Email</label>
            <input type="email" class="form-control" id="input-login-email" name="email"
                   placeholder="Email">
            <label for="input-login-password">Пароль</label>
            <input type="password" class="form-control" id="input-login-password"
                   name="password" placeholder="Пароль">
            <select class="form-control" id="input-login-type" style="margin-top: 20px;"
                    name="type">
                <option value="applicant">Я соискатель</option>
                <option value="employer">Я работодатель</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
{% endblock %}