{% extends "base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}
{% block bootstrap3_content %}
    <nav class="navbar navbar-default no-margin">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Логотип</a>
            <button class="sidebar-toggle collapse in" data-toggle="collapse" id="menu-toggle"><span
                    class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
        </div>


        <ul class="nav navbar-nav navbar-right top-nav">
            <li class="form-dropdown">
                <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                    Регистрация
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" style="width: 315px; padding: 15px; margin-right:15px;">
                     <div class="center-div">
                            <button type="button" id="i_am_applicant1" class="btn btn-primary btn-lg" onclick="location.href='/applicant_registration';">
                                Я соискатель
                             </button>
                            <button type="button" id="i_am_employer1" class="btn btn-primary btn-lg" onclick="location.href='/employer_registration';" >
                                Я работодатель
                            </button>
                     </div>
                </div>

            </li>
            <li class="form-dropdown">
                <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                    Вход
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" style="width: 315px; padding: 15px; margin-right:15px;">
                    <form action="/login" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="input-login-email">Email</label>
                            <input type="email" class="form-control" id="input-login-email" name="email"
                                   placeholder="Email">
                            <label for="input-login-password">Пароль</label>
                            <input type="password" class="form-control" id="input-login-password"
                                   name="password" placeholder="Пароль">
                            <select class="form-control" id="input-login-type" style="margin-top: 20px;"
                                    name="type">
                                <option value="applicant">Я соискатель</option>
                                <option value="employer">Я работодатель</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Войти</button>
                        <button type="button" class="btn btn-warning" style="float: right;" onclick="location.href='/request_restore_password';">Восстановить пароль</button>
                    </form>
                </div>
            </li>
        </ul>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-top-links navbar-right">
                <li class="active">

                </li>
            </ul>
        </div>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            {% with request.resolver_match.url_name as url_name %}
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                    <li {% if url_name == 'public_vacancies' %}class="active"{% endif %}>
                        <a href="/public/vacancies">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-briefcase fa-stack-1x "></i>
                            </span>
                            Вакансии
                        </a>
                    </li>
                    <li {% if url_name == 'public_cvs' %}class="active"{% endif %}>
                        <a href="/public/cvs">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-file-text-o fa-stack-1x "></i>
                            </span>
                            Резюме
                        </a>
                    </li>
                    <li {% if url_name == 'public_how_it_works' %}class="active"{% endif %}>
                        <a href="/public/how_it_works">
                            <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-question-circle-o fa-stack-1x "></i>
                            </span>
                            Как это работает
                        </a>
                    </li>
                    <li {% if url_name == 'public_feedback' %}class="active"{% endif %}>
                        <a href="/public/feedback">
                             <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-comment-o fa-stack-1x "></i>
                            </span>
                            Обратная связь
                        </a>
                    </li>
                    <li {% if url_name == 'public_about' %}class="active"{% endif %}>
                        <a href="/public/about">
                             <span class="fa-stack fa-lg pull-left">
                                <i class="fa fa-info fa-stack-1x "></i>
                            </span>
                            О проекте
                        </a>
                    </li>
                </ul>
            {% endwith %}
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock %}