{% extends "public/public_base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <script type="text/javascript" src="{% static 'js_custom/applicant/applicant_registration_head.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="error-message" style="color: #CC0000; padding-left:15px;">{{ error_message }}</div>
    <div id="success-message" style="color: #00CC00; padding-left:15px;">{{ success_message }}</div>
    <form id="submit-form" style="max-width: 735px;" action="/request_restore_password" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-12">
                <label for="input-email">Email</label>
                <div class="input-group">
                    <input type="email" name="email" class="form-control" id="input-email" placeholder="Email"
                           value="{{ email }}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="popover"
                                data-content="Адрес электронной почты, указанный при регистрации.">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>

            <!-- Fifth line -->
            <div class="col-sm-6" style="padding-top: 25px;">
                <button type="submit" id="submit-restore" class="btn btn-primary btn-lg">
                    Восстановить
                </button>
            </div>
        </div>
    </form>
{% endblock %}