{% extends "public/public_base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <script type="text/javascript" src="{% static 'js_custom/applicant/applicant_password_restore.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="error-message" style="color: #CC0000; padding-left:15px;">{{ error_message }}</div>
    <div id="success-message" style="color: #00CC00; padding-left:15px;">{{ success_message }}</div>
    <form id="registration-form" style="max-width: 735px;" action="restore_password" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-6">
                <label for="input-password">Пароль</label>
                <div class="input-group">
                    <input type="password" name="password" class="form-control" id="input-password"
                           placeholder="Пароль">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" id="show-hide" title="Показать пароль">
                            <span id="eye-icon" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="input-password">Подтверждение пароля</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="input-password-confirm" placeholder="Пароль">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" id="show-hide-confirm" title="Показать пароль">
                            <span id="eye-icon-confirm" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <!-- Fifth line -->
            <div class="col-sm-6" style="padding-top: 25px;">
                <button type="submit" id="submit-password-restore" class="btn btn-primary btn-lg">
                    Сменить пароль
                </button>
            </div>
        </div>
        <input type="hidden" name="restore_code" value="{{ restore_code }}">
    </form>
{% endblock %}