{% extends "public/public_base.html" %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <script type="text/javascript" src="{% static 'js_custom/applicant/applicant_registration_head.js' %}"></script>
{% endblock %}
{% block content %}
    {% if error_message %} <div id="error_head" style="font-size: 30px; color: red;">
        <i class="fa fa-exclamation-circle"></i> Ошибка </div>
    <div id="error-message" style="font-size: 20px; color: #2F4F4F; padding-left:15px; line-height: 1.5;">{{ error_message }}</div>
    {% endif %}

    <br><br>

    {% if success_message %} <div id="success_head" style="font-size: 30px; color: red;">
        <i class="fa fa fa-check-circle"></i> Успех </div>
    <div id="success-message" style="font-size: 20px; color: #2F4F4F; padding-left:15px; line-height: 1.5;">{{ success_message }}</div>
    {% endif %}


{% endblock %}