<div class="modal fade" id="AddPhoneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление контактного телефона</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <col width="35%">
                    <col width="65%">
                    <tr>
                        <td>
                            <label>Номер телефона</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="input-phone" placeholder="+7 (___) ___-____">
                        </td>
                    </tr>
                    <!--<tr>
                        <td>
                            <label>Использовать для уведомлений</label>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" id="input-use-for-notification">
                        </td>
                    </tr>-->
                    <tr>
                        <td>
                            <label>Показывать соискателям</label>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" id="input-show-to-applicant">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-button" data-dismiss="modal">Закрыть
                </button>
                <button type="button" class="btn btn-primary" id="add-phone-button">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditPhoneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Редактирование контактного телефона</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <col width="35%">
                    <col width="65%">
                    <tr>
                        <td>
                            <label>Номер телефона</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="input-phone-edit"
                                   placeholder="+7 (___) ___-____">
                        </td>
                    </tr>
                    <!--<tr>
                        <td>
                            <label>Использовать для уведомлений</label>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" id="input-use-for-notification-edit">
                        </td>
                    </tr>-->
                    <tr>
                        <td>
                            <label>Показывать соискателям</label>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" id="input-show-to-applicant-edit">
                        </td>
                    </tr>
                </table>
                <input type="hidden" id="phone-edit-id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-button" data-dismiss="modal">Закрыть
                </button>
                <button type="button" class="btn btn-primary" id="edit-phone-button">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddEmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление email</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <col width="35%">
                    <col width="65%">
                    <tr>
                        <td>
                            <label>Email</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="input-email"
                                   placeholder="Адрес электронной почты">
                            <label id="emailerror" style="font-size:90%; color:red"></label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Использовать для уведомлений</label>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" id="input-email-use-for-notification">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Показывать соискателям</label>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" id="input-email-show-to-applicant">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-button" data-dismiss="modal">Закрыть
                </button>
                <button type="button" class="btn btn-primary" id="add-email-button">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditEmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Редактирование email</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <col width="35%">
                    <col width="65%">
                    <tr>
                        <td>
                            <label>Email</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="input-email-edit"
                                   placeholder="Адрес электронной почты">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Использовать для уведомлений</label>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" id="input-email-use-for-notification-edit">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Показывать соискателям</label>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" id="input-email-show-to-applicant-edit">
                        </td>
                    </tr>
                </table>
                <input type="hidden" id="email-edit-id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-button" data-dismiss="modal">Закрыть
                </button>
                <button type="button" class="btn btn-primary" id="edit-email-button">Сохранить</button>
            </div>
        </div>
    </div>
</div>