<div class="modal fade" id="InviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Пригласить сотрудника</h4>
            </div>
            <div class="modal-body">
                <label>Email</label>
                <input type="text" class="form-control" id="input-email-invite"
                       placeholder="Адрес электронной почты">
            </div>
            <div id="spinner" style="display: none; ">
                <i style="width: 100%; text-align: center" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span  class="sr-only"></span>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" id="close-button" data-dismiss="modal">
                    Закрыть
                </button>
                <button type="button" class="btn btn-primary" id="invite-button">
                    Пригласить
                </button>
            </div>
        </div>
    </div>
</div>