<div class="modal fade" id="AddEmployerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление организации</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <col width="35%">
                    <col width="65%">
                    <tr>
                        <td>
                            <label for="input-organization-name">Название организации</label>
                        </td>
                        <td>
                            <input type="text" name="organizationName" class="form-control"
                                   id="input-organization-name"
                                   placeholder="Название организации" value="{{ organizationName }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="input-organization-site">Сайт</label>
                        </td>
                        <td>
                            <input type="text" name="organizationSite" class="form-control"
                                   id="input-organization-site"
                                   placeholder="Адрес сайта" value="{{ organizationSite }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="select-employees-count">Количество сотрудников</label>
                        </td>
                        <td>
                            <select class="form-control" name="employeesCount" id="select-employees-count">
                                <option {% if employeesCount == "0" %} selected {% endif %} value="0">До 5</option>
                                <option {% if employeesCount == "1" %} selected {% endif %} value="1">От 5 до 10
                                </option>
                                <option {% if employeesCount == "2" %} selected {% endif %} value="2">От 10 до 20
                                </option>
                                <option {% if employeesCount == "3" %} selected {% endif %} value="3">От 20 до 50
                                </option>
                                <option {% if employeesCount == "4" %} selected {% endif %} value="4">От 50 до 100
                                </option>
                                <option {% if employeesCount == "5" %} selected {% endif %} value="5">Больше 100
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-button" data-dismiss="modal">Закрыть
                </button>
                <button type="button" class="btn btn-primary" id="add-employer-button">Добавить</button>
            </div>
        </div>
    </div>
</div>