<div class="modal fade" id="AvatarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Изображение профиля</h4>
            </div>
            <form id="fd">
                <div class="modal-body">
                    <div id="first-step"><h5>Выберите файл изображения. Рекомендуется использовать файл с разрешением не
                        меньше чем 300х300 точек.</h5></div>
                    <div id="second-step" style="display: none;"><h5>Выделите прямоугольную область на изображении.</h5>
                    </div>
                    <div class="center-div">
                        <output id="list"></output>
                    </div>
                    <input type="hidden" id="x1" name="x1" value="0">
                    <input type="hidden" id="y1" name="y1" value="0">
                    <input type="hidden" id="x2" name="x2" value="300">
                    <input type="hidden" id="y2" name="y2" value="300">
                    <div id="picture-preview">

                    </div>

                </div>
                <div class="modal-footer">
                    <label class="btn btn-default btn-file" style="float: left;">
                        Обзор
                        <input type="file" id="files" style="display: none;" name="files"/>
                    </label>
                    <button type="button" class="btn btn-default" id="close-avatar-dlg-button" data-dismiss="modal">
                        Закрыть
                    </button>
                    <button type="button" class="btn btn-primary" id="set-avatar" disabled="disabled">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>