<div class="modal fade" id="AddEducationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление данных об образовании</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <col width="35%">
                    <col width="65%">
                    <tr>
                        <td>
                            <label>Тип образования</label>
                        </td>
                        <td>
                            <select class="form-control" id="select-education-type">
                                <option value="0">Неоконченное среднее</option>
                                <option value="1">Среднее</option>
                                <option value="2">Неоконченное среднее специальное</option>
                                <option value="3">Среднее специальное</option>
                                <option value="4">Неоконченное высшее</option>
                                <option value="5">Высшее</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Название учереждения</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="input-institution-name"
                                   placeholder="Название образовательного учереждения">
                        </td>
                    </tr>
                    <tr id="education-speciality" style="display: none">
                        <td>
                            <label>Название специальности</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="input-speciality"
                                   placeholder="Специальность">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Год окончания</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="input-date-finish"
                                   placeholder="ГГГГ">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-button" data-dismiss="modal">Закрыть
                </button>
                <button type="button" class="btn btn-primary" id="add-education-button">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditEducationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Изменение данных об образовании</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <col width="35%">
                    <col width="65%">
                    <tr>
                        <td>
                            <label>Тип образования</label>
                        </td>
                        <td>
                            <select class="form-control" id="select-education-type-edit">
                                <option value="0">Неоконченное среднее</option>
                                <option value="1">Среднее</option>
                                <option value="2">Неоконченное среднее специальное</option>
                                <option value="3">Среднее специальное</option>
                                <option value="4">Неоконченное высшее</option>
                                <option value="5">Высшее</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Название учереждения</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="input-institution-name-edit"
                                   placeholder="Название образовательного учереждения">
                        </td>
                    </tr>
                    <tr id="education-speciality-edit" style="display: none">
                        <td>
                            <label>Название специальности</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="input-speciality-edit"
                                   placeholder="Специальность">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Год окончания</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="input-date-finish-edit"
                                   placeholder="ГГГГ">
                        </td>
                    </tr>
                </table>
                <input type="hidden" id="education-edit-id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-button" data-dismiss="modal">Закрыть
                </button>
                <button type="button" class="btn btn-primary" id="edit-education-button">Сохранить</button>
            </div>
        </div>
    </div>
</div>